/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***** END RESET CSS ****/

body{
    font-family: lato;
}
black{
    font-weight: 900;
}
h4{
    font-size: 12.36pt;
    margin-bottom: 5px;
    font-weight: 900;
}
.paper-a4{
    width: calc(21cm - 16rem);
    height: calc(29.7cm - 16rem);
    position: absolute;
    background-color: white;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 8rem;
}
@page {
	size: 210mm 297in; /* <length>{1,2} | auto | portrait | landscape */
	      /* 'em' 'ex' and % are not allowed; length values are width height */
	/*margin: 10%; /* <any of the usual CSS values for margins> */
	             /*(% of page-box width for LR, of height for TB) */
	margin-header: 0mm; /* <any of the usual CSS values for margins> */
	margin-footer: 0mm; /* <any of the usual CSS values for margins> */
	marks: /*crop | cross | none*/
	header: html_myHTMLHeaderOdd;
	footer: html_myHTMLFooterOdd;
	background: ...
	background-image: ...
	background-position ...
	background-repeat ...
	background-color ...
	background-gradient: ...
}

.paper {
	border: 1px solid black;
	padding:0.5cm;
}
.table-utama{
	border: 1px solid black;
}
.table-utama td{
	border: 1px solid black;

}
.noborder{
	border : 0px !important
}
.noborder td{
	border : 0px !important
}
span.small{
	font-weight: 800!important;
	font-size: 12!important;
}
span.strong{
	font-weight: 800!important;
}
td.logo{
	width: 3cm; vertical-align: middle; padding: 0.5cm;
}
td.judul{
	width: 12cm; padding:0.5cm; vertical-align: middle;
}
.text-center{
	text-align: center;
}
.bordered {
	border: 1px solid black !important;
}
.upper {
	text-transform: uppercase;
}
td.table-content{
	padding:0.1cm;
}