<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{% block title %}E-Tiket Pulau Seribu{% endblock %}</title>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block style %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/e_tiket_api/static/industrial/css/animate.css">
    <link rel="stylesheet" href="/e_tiket_api/static/industrial/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/e_tiket_api/static/industrial/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/e_tiket_api/static/industrial/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/e_tiket_api/static/industrial/fonts/fontawesome/css/font-awesome.min.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="/e_tiket_api/static/industrial/css/style.css">
    {% endblock %}
    {% block extrastyle %}{% endblock %}
    
  </head>
  <body>
    {% block content %}{% endblock %}

    <!-- loader -->
    {% block script %}
    <script src="/e_tiket_api/static/industrial/js/jquery-3.2.1.min.js"></script>
    <script src="/e_tiket_api/static/industrial/js/popper.min.js"></script>
    <script src="/e_tiket_api/static/industrial/js/bootstrap.min.js"></script>
    <script src="/e_tiket_api/static/industrial/js/owl.carousel.min.js"></script>
    <script src="/e_tiket_api/static/industrial/js/jquery.waypoints.min.js"></script>
    <script src="/e_tiket_api/static/industrial/js/jquery.fancybox.min.js"></script>
    <script src="/e_tiket_api/static/industrial/js/main.js"></script>
    <script src="/e_tiket_api/static/industrial/js/main.js"></script>
    {% endblock %}
    {% block extrascript %}{% endblock %}

</body>
</html>