<html>
    <head>
        <title>Tiket Elektronik</title> 
        <link rel="stylesheet" href="/e_tiket_api/static/assets/css/printa4.css">
        
    </head>
    
    <body>

        <div style="padding: 0.2cm;border:1px solid black; width: 18cm;">
        <table style="width: 18cm; border:1px solid black; font-family: Arial, Helvetica, sans-serif;">
            <tr>
                <td class="logo"><img style="width: 1.5cm;" src='/e_tiket_api/static/assets/img/dki.png' /></td>
                <td colspan="2" class="judul text-center" >
                    <p>
                        UP. ANGKUTAN PERAIRAN DAN PELABUHAN<br/>
                        DINAS PERHUBUNGAN PROVINSI DKI JAKARTA<br/>
                        <span class="strong">
                            TIKET RETRIBUSI PENUMPANG KAPAL<br/>
                            PENYEBRANGAN KEPULAUAN SERIBU
                        </span>

                    </p>
                </td>
                <td class="logo"><img style="width: 1.5cm;" src='/e_tiket_api/static/assets/img/dishub.png' /></td>
            </tr>
            <tr class="bordered">
                <td colspan="4" class="text-center upper" style="padding:0.1cm">{{data.nama_kapal}} ({{data.kode_kapal}})</td>
            </tr>
            <tr class="bordered">
                <td class='table-content upper bordered' colspan="2">Kode Pesan : {{data.nomor}}</td>
                <td class='table-content upper bordered' colspan="2">Harga : Rp.{{totalRp}},-</td>
            </tr>
            <tr class="">
                <td class='table-content bordered'  colspan="2">
                    <br/>
                    <span class="small">nama</span><br/>
                    {% for p in detail %}
                    {{p.nama}}<br/>
                    {% endfor %}

                    <br/>
                    <span class="small">berangkat</span><br/>
                    <span class="upper">
                        {{data.nama_pelabuhan_asal}}<br/>
                        {{data.tgl_jam_berangkat}}
                    </span>
                </td>
                <td class='table-content bordered'  colspan="2">
                    <br/>
                    <span class="small">tipe penumpang</span><br/>
                    {% for p in detail %}
                        {% if p.jenis == 'B' %}
                        BAYI <br/>
                        {% else %}
                        DEWASA<br/>
                        {% endif %}
                    {% endfor %}

                    <br/>
                    <span class="small">perkiraan sampai</span><br/>
                    <span class="upper">
                        {{data.nama_pelabuhan_tujuan}}<br/>
                        {{data.tgl_jam_sampai}}
                    </span>
                    <br/>
                    <br/>
                    
                </td>
            </tr>
            <tr>
                <td colspan="2" class="bordered"></td>
                <td colspan="2" class="bordered" style="text-align: right; padding:0.1cm; ">
                    <br/>
                    <span class="small upper" style="float: right; text-align: right; ">
                        TARIF SESUAI PERDA NO. 3 TAHUN 2012
                    </span>    
                </td>
            </tr>
        </table>
        </div>
    </body>

</html>