<html>
    <head>
        <title>Tiket Elektronik</title> 
        <link rel="stylesheet" href="/e_tiket_api/static/assets/css/printa4.css">
        
    </head>
    <style>
        .paper {
            border: 1px solid black;
            padding:0.5cm;
        }
        .table-utama{
            border: 1px solid black;
        }
        .table-utama td{
            border: 1px solid black;

        }
        .noborder{
            border : 0px !important
        }
        .noborder td{
            border : 0px !important
        }
    </style>
    <body>
        <div class="paper paper-a4">

            <table class="table-utama">
                <tr>
                    <td colspan="2">
                        <table class='noborder'>
                            <tr style="text-align: center; ">
                                <td style="width: 4cm; vertical-align: middle;"><img style="width: 2cm;" src='/e_tiket_api/static/assets/img/dki.png' /></td>
                                <td style="width: 10cm; padding:0.5cm">
                                    <p>
                                        UP. ANGKUTAN PERAIRAN DAN PELABUHAN<br/>
                                        DINAS PERHUBUNGAN PROVINSI DKI JAKARTA<br/>
                                        <b>
                                            TIKET RETRIBUSI PENUMPANG KAPAL<br/>
                                            PENYEBRANGAN KEPULAUAN SERIBU
                                        </b>

                                    </p>
                                </td>
                                <td style="width: 4cm; vertical-align: middle;"><img style="width: 2cm;" src='/e_tiket_api/static/assets/img/dishub.png' /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; padding:0.2cm"">{{data.nama_kapal}}({{data.kode_kapal}})</td>
                </tr>
                <tr>
                    <td style="width: 9cm;"></td>
                    <td style="width: 9cm;"></td>
                </tr>
            </table>
        </div>

    </body>

</html>